<footer>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <section class="footer"  >
      
  
      <div class="box-container">
  
          <div class="box">
              <h3>quick links</h3>
              <a href=""> <i class="fas fa-angle-right"></i> Home</a>
              <a href="../about-us"> <i class="fas fa-angle-right"></i> About</a>
              <a href="../contact-us/"> <i class="fas fa-angle-right"></i> Contact Us</a>
              
          </div>
  
          <div class="box">
              <h3>extra links</h3>
              <a href="#"> <i class="fas fa-angle-right"></i> Terms of use </a>
              <a href="#"> <i class="fas fa-angle-right"></i> Privacy Policy </a>
          </div>
  
          <div class="box">
              <h3>follow us</h3>
              <a href="https://www.facebook.com"> <i class="fab fa-facebook-f"></i> Facebook </a>
              <a href="https://www.twitter.com"> <i class="fab fa-twitter"></i> Twitter </a>
              <a href="https://www.linkedin.com"> <i class="fab fa-linkedin"></i> Linkedin </a>
          </div>
  
  
      </div>
      <!-- <div class="content-footer" >
  
      <div class="credit">  All rights reserved | Group10@2022  </div>
        </div> -->
  </section>
  
  </footer>