<body>
<section class="contact">
    <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <h1 class="title"> get in touch </h1>

    <div class="row">

        <form action="">
            <input type="text" placeholder="Your name" class="box"/>
            <input type="number" placeholder="Your number" class="box"/>
            <input type="email" placeholder="Your email" class="box"/>
            <textarea name="" placeholder="Your message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn-1"/>
        </form>
    </div>
</section>
</body>
