<body>
  <header class='masthead'>
    <p class='masthead-intro'>welcome to </p>
    <h1 class='masthead-heading'>Voting Management System</h1>
  </header>
  <section >
      <h1 align="center">Introduction</h1>
      <br>
      <br>
      <p>Organizing an election is not easy, and it is definitely one of the most difficult endeavours you’ll undertake if you are intent on going at it alone. The good news is you can alleviate much of the stress by using VotingDo the best voting management system that works for you.</p>
     <br>
     <br>
      <p>  An online voting system is a platform that allows groups to securely conduct votes and elections. Online voting tools and online election voting systems help you make important decisions by gathering the input of your group in a way that’s systematic and verifiable.</p>
       <br>
       <br> 
      <p>     It’s a good idea to use an online voting system to elect leadership, enable better decision, justify those decision. Using an online voting tool will generate confidence in the results of votes and elections, lower your voting-related costs, Voter accessibility, and streamline the election process.
        </p>
  </section>
  
  <footer class="content-footer">
      <p>Thank you for visiting!!</p>
     
    
  </footer>
  </body>