.buttonSpace{
    margin-left: 10PX;
    margin-right: 10Px;
}
.addmargin{
    margin-top: 20px;
    margin-bottom: 50px;
}
.alignment{
    text-align:center;
    margin-bottom: 40px;
    margin-top: 20px;
}