<body>
  <div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="../../assets/avtar.png "
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        #candidateForm="ngForm"
        (ngSubmit)="candidateForm.form.valid && addCandidate(candidateForm)"
        novalidate
      >
        <div class="form-group">
          <label for="candidateName">Candidate Name</label>
          <input
            type="text"
            class="form-control"
            name="candidateName"
            [(ngModel)]="candidate.candidateName"
            required
            minlength="3"
            maxlength="20"
            #candidateName="ngModel"
          />
          <div class="alert-danger" *ngIf="candidateForm.submitted && candidateName.invalid">
            <div *ngIf="candidateName.errors.required">Candidate Name is required</div>
            <div *ngIf="candidateName.errors.minlength">
              Candidate Name must be at least 3 characters
            </div>
            <div *ngIf="candidateName.errors.maxlength">
              Candidate Name must be at most 20 characters
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="email">Candidate Party Name</label>
          <input
            type="text"
            class="form-control"
            name="candidateParty"
            [(ngModel)]="candidate.candidateParty"
            required
            minlength="3"
            maxlength="20"
            #candidateParty="ngModel"
          />
          <div class="alert-danger" *ngIf="candidateForm.submitted && candidateParty.invalid">
            <div *ngIf="candidateParty.errors.required">Candidate Party is required</div>
            <div *ngIf="candidateParty.errors.minlength">
              Candidate Party must be at least 3 characters
            </div>
            <div *ngIf="candidateParty.errors.maxlength">
              Candidate Party must be at most 20 characters
            </div>
          </div>
        </div>
        <div>
      </div>
        <div class="form-group">
          <button type =" submit" class="btn btn-primary btn-block" [disabled]="candidateForm.invalid">Register</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="candidateForm.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>
</body>
  