 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

.nav-item:hover{
    font-size: 21px;
    color: rgb(18,60);
   

}
.backgroundcolo{
    background-color: orange;
}
 
 
