<div id="app">
  <nav class="navbar navbar-expand-sm  bg-dark navbar-dark">
    <a class="logoo" href="#">
      <img class="bank" src="assets/vote_logo.png" alt="Logo" height="50px" width="60px"/>
    </a>
    <a href="#" class="navbar-brand">VoteDo <link rel="icon" type="image/x-icon" href=".././assets/vote_logo.png"></a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/candidate-list" class="nav-link" routerLink="candidate-list">Candidate list</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/register-candidate" class="nav-link" routerLink="register-candidate">Add Candidate</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/voter-list" class="nav-link" routerLink="voter-list">Voter List</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/register"  class="nav-link" routerLink="register">Add User</a>
      </li>
      <!-- <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li> -->
      <!-- <li class="nav-item">
        <a href="/user" class="nav-link"  *ngIf="!isLoggedIn" routerLink="user">User</a>
      </li> -->

      <li class="nav-item">
        <a href="/vote" class="nav-link" *ngIf="isLoggedIn" routerLink="vote">Vote</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a href="./about-us" class="nav-link" routerLink="about-us">About</a>
      </li>

      <li class="nav-item">
        <a href="./contact-us" class="nav-link" routerLink="contact-us">Contact</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/result" class="nav-link" routerLink="result">Result</a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div >
    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </div>
</div>
