
    <div class="container">
        <div>
        <h2 class = "alignment"> Candidate List </h2>
            <table class = "table table-striped">
    <thead>
        <tr>
            <th>candidate id</th>
            <th>Candidate Name</th>
            <th>Candidate Party</th>
            <th>Vote</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class = "addmargin">
        <tr *ngFor = 'let candidate of candidates'>
            <td>{{candidate.candidateId}}</td>
            <td>{{candidate.candidateName}}</td>
            <td>{{candidate.candidateParty}}</td>
            <td>{{candidate.vote}}</td>

            <td>
                <button type="button" class = "btn btn-success" (click) = 'delGet(candidate.candidateId)' class="buttonSpace">Delete</button>
                <!-- <button type="button" class = "btn btn-success" (click) = 'putCad(candidate.candidateId)' class="">Vote</button> -->
            </td>
        </tr>
    </tbody>
</table>
</div>

<ng-template #loggedOut>
    Please login
</ng-template>

</div>